#main_panel{
    -fx-maxHeight: 1200;
    -fx-maxWidth: 1050;
    -fx-minHeight: 400;
    -fx-minWidth: 350;
    -fx-background-color: #006f7d;
}
#loginIcon{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
 }
#_titulo, #_titulo_referencia{
    -fx-font-family: Roboto;
    -fx-font-size: 3em;
    -fx-text-fill: white;
}
#_titulo_referencia{
    -fx-font-size:2.25em;
    -fx-font-weight:bold;
    -fx-text-fill:rgb(203, 203, 203);
}

#_Tfields{
    -fx-font-family:Roboto;
    -fx-font-size:2em;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-alignment:center;
}
#Grind{
    -fx-hgap:10;
    -fx-vgap:10;
}
.boton{
    -fx-background-color: #009688;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-weight:bold;
    -fx-pref-width: 175px;
    -fx-pref-height: 60px;
    -fx-background-radius: 10;
    -fx-hgap: 2px;
    -fx-Vgap: 2px;
    -fx-font-family: Roboto;
}

/* Cambiar el color del botón al pasar el mouse */
.button:hover {
    -fx-background-color: #00796b;
}

/* Cambiar el color del botón al presionarlo */
.button:pressed {
    -fx-background-color: #004d40;
}